#root{
  display:flex;
}

body {
  background: #222;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;

}
h1 {
  width: 100%;
  margin: 0 auto 0.5em;
  font-size: 30px;
}
  small {
    text-transform: none;
    display: block;
    margin: 20px 0;
    font: 300 20px 'QuickSand', sans-serif;
    color: #999;
  }
[contenteditable] {
  outline: 0px solid transparent;
}
/*this is note cover css*/
.main{
margin-left: 230px;
width:100%;
}
.main-content {
  height:100%;
  margin:auto 5em;
  margin-top: 7em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
.moleskine-wrapper {
  max-width: calc(100% / 3);
  min-width: 10em;
}

.moleskine-notebook {
  height: 300px;
  width: 225px;
  position: relative;
  transition: 0.4s ease-in-out;
  border-radius: 5px 15px 15px 5px;
  transform-origin: left center 0px;
  //display: inline-block;
  margin: 40px;
  perspective: 800px;
}
.moleskine-notebook:hover {
  transform: rotateZ(-10deg);
}
.moleskine-notebook:hover .notebook-cover {
  transform: rotateY(-50deg);
  z-index: 999;
  box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
}

.notebook-cover {
  background: #cc4b48;
  height: 300px;
  width: 225px;
  position: absolute;
  border-radius: 5px 15px 15px 5px;
  z-index: 10;
  transition: 0.5s linear;
  transform-style: preserve-3d;
  transform-origin: left center 0px;
}
.notebook-cover:before {
  content: "";
  position: absolute;
  width: 10px;
  height: calc(100% + 2px);
  top: -1px;
  z-index: 100;
  border-radius: 2px;
  right: 25px;
  transition: 2s ease;
  background: linear-gradient(to right, #9c2e2b 0%, #cc4b48 12%, #9c2e2b 25%, #cc4b48 37%, #9c2e2b 50%, #cc4b48 62%, #9c2e2b 75%, #cc4b48 87%, #9c2e2b 100%);
}

.notebook-cover.blue {
  background: #2e95aa;
}
.notebook-cover.blue:before {
  background: linear-gradient(to right, #1e606e 0%, #2e95aa 12%, #1e606e 25%, #2e95aa 37%, #1e606e 50%, #2e95aa 62%, #1e606e 75%, #2e95aa 87%, #1e606e 100%);
}
.notebook-cover.green {
  background: #abc3b5;
}
.notebook-cover.green:before {
  background: linear-gradient(to right, #7ea38e 0%, #abc3b5 12%, #7ea38e 25%, #abc3b5 37%, #7ea38e 50%, #abc3b5 62%, #7ea38e 75%, #abc3b5 87%, #7ea38e 100%);
}
.notebook-cover.yellow {
  background: #fed754;
}
.notebook-cover.yellow:before {
  background: linear-gradient(to right, #ebb501 0%, #fed754 12%, #ebb501 25%, #fed754 37%, #ebb501 50%, #fed754 62%, #ebb501 75%, #fed754 87%, #ebb501 100%);
}

.notebook-skin {
  height: 80px;
  background: #e8e8e0;
  margin-top: 80px;
  padding: 15px;
  font-size: 25px;
  position: relative;
  z-index: 10;
  color: #222;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.notebook-skin:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  bottom: 0;
  background: #cddc39;
}

.notebook-page {
  height: 100%;
  width: 225px;
  position: absolute;
  background-color: #fbfae8;
  z-index: 0;
  border-radius: 5px 16px 16px 5px;
  overflow: hidden;
}
.notebook-page.ruled {
  background: linear-gradient(to bottom, #fbfae8 9px, #e4e4e4 1px);
  background-size: 100% 10px;
}
.notebook-page.squared {
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px), linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
}
.notebook-page.dotted {
  background: linear-gradient(90deg, #fbfae8 10px, transparent 1%) center, linear-gradient(#fbfae8 10px, transparent 1%) center, #999;
  background-size: 11px 11px;
}

footer {
  text-align: center;
  margin: 8em auto;
  width: 100%;
}
.notebook-page.ruled {
  background: linear-gradient(to bottom, #fbfae8 9px, #e4e4e4 1px);
  background-size: 100% 10px;
}
.notebook-page.squared {
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px), linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
}
.notebook-page.dotted {
  background: linear-gradient(90deg, #fbfae8 10px, transparent 1%) center, linear-gradient(#fbfae8 10px, transparent 1%) center, #999;
  background-size: 11px 11px;
}


footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #fff;
  color: #fff;
  margin: 5px;
}
footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}
/*this is note paper css */


.notebook-paper {
  color:black;
  width: 960px;
  height: 1109px;
  background: linear-gradient(to bottom, white 39px, #00b0d7 1px);
  margin: 50px auto;
  background-size: 100% 40px;
  position: relative;
  padding-top: 150px;
  padding-left: 160px;
  padding-right: 20px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}
.notebook-paper:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 140px;
  height: 100%;
  width: 1px;
  background: #db4034;
}
.notebook-paper header {

  height: 150px;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
.notebook-paper header h1 {
  background: white;
  text-align:center;
  display:table-cell;
  vertical-align:bottom;;
  font-size: 60px;
  line-height: px;
  padding: 0px 20px 0 160px;
  height:150px;
  overflow: auto;
}
.notebook-paper .content {
  height: 100%;
  width:800px;
  margin-top: 10px;
  font-size: 1.7rem;
  line-height: 40px;
  overflow: auto;
}



.notebook-submit {
   margin:auto;
   margin-top: 0px;
   width: 960px;
}

.notebook-submit-button{
    width:100%;
}

.sidebar{
font-family: 'Karla', sans-serif;
position: fixed;
width: 230px;
height:100vh;
font-size:1.05rem;
background-color:white;
z-index:5;
}



.dark{
background-color:#343a40;
color:white;
border-color: rgba(243, 244, 246, 1);
}



.white{
background-color:white;
color:black;
}

.no-margin
{
margin:0;
}

.no-border{
 border:0px ;
}
.inner-circle{
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  pointer-events:none;
  margin-right:8px;
  margin-left:20px;
}
.img{
width:100%;
height:130px;
margin:auto;
margin-top:20px;
margin-bottom: 20px;
pointer-events: none;
}

.zero-padding{
padding:0 0;
}
.table thead th{
  border-top: 0px;
}
.actual-btn {

  background-color: white;
  color: black;
  font-family: sans-serif;
  border:1px solid ;
  border-radius: 0.3rem;

  margin-top: 1rem;
    cursor: pointer;
}
.navbar-link:hover .dark{
background:gray;
color:white;
}
